body {
    background-color: lightgray;
   
}

h1{
    text-align: center;
}



.form-group{
    float: right;
    
}

#formButton{
    float: right;
}

.animalButtons{
    padding: 10px;
    margin: 10px;
}

